body {
	margin-top: 90px;

}

#container {
	height: 500px;
}

.bmk_dishes {
	height: 90px;
	width: 300px;
	border-radius: 9px;
	border: 2px solid #d83c3c;
	margin: auto;
	margin-bottom: 5px;

}

.item div {
	display: inline-block;
}

.item p {
	font-size: 14px;
}

.bmk_dishes img {
	border-radius: 7px;
	height: 86px;
	width: 86px;
	position: relative;
	float: left;
}

.bmk_text {
	position: relative;
	float: center;

}
