body {
	margin-top: 90px;
}

#container {
	height: 1000px;
}

.bmk_dishes {
	height: 105px;
	width: 320px;
	border-radius: 9px;
	border: 2px solid #d83c3c;
	margin: auto;
	margin-bottom: 5px;
}

.item div {
	display: inline-block;
}

.item p {
	font-size: 14px;
}

.bmk_dishes img {
	border-radius: 7px;
	height: 101px;
	width: 101px;
	position: relative;
	float: left;
}

.bmk_test {
	position: relative;
	float: center;
}
