/*left and right buttons */
#swipe > div { 
	display: inline-block;
	margin: auto;
}

#swipe { 
	margin-top: 60px;
	text-align: center;
	margin-bottom: 0px;
	padding-top: px;
}

#bmk_confirm { 
	visibility: hidden;
	background-color: red;
	color: white;

}

.move { 
	width: 40px;
	border: none;

}

.move div { 
	color: white;
	font-size: 60px;
	background-color: tomato;
	top: 50%;
}

#book_button { 
	height: 40px;
	width: 225px;
	background-color: tomato;
	color: white;
	font-size: 25px;
	text-align: center;
	border: 1px solid tomato;
	margin-top: 5px;
}

#bmkIcon { 
	height: 80px;
	width: 80px;
}
#ab { 
	height: 30px;
	width: 30px;
	margin-right: 10px;
}

#end { 
	visibility: hidden;
	margin: 10px;
}

#faces div { 
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
}

#ht_type div { 
	display: inline-block;
	margin-bottom: 10px;
}

#hashtags div { 
	margin-right: 1px;
	font-size: 12px;
}

.ups div { 
	display: inline-block;
	color: black;
	text-align: center;

}

#dish_img { 
	height: 50vh;
	width: 60vw;
	margin-top: 10px;
}

#dishIMG { 
	height: 400px;
	width: 400px;
	margin-top: 10px;
}

.downs div { 
	display: inline-block;
	color: black;

}

#dishIMG { 
	height: 200px;
	width: 200px;
}

.thumbs { 
	width: 20px;
}