/*left and right buttons */
#swipe > div {
	display: inline-block;
	margin: auto;
}

#swipe {
	margin-top: 60px;
	text-align: center;
	margin-bottom: 0px;
	padding-top: px;
}

#bmk_confirm {
	visibility: hidden;
	background-color: red;
	color: white;

}

.move {
	width: 70px;
	border: none;

}

.move div {
	color: white;
	font-size: 43px;
	background-color: #d83c3c;
	border-radius: 120px;
	padding-top: 5px;
	width: 60px;
  height: 60px;

}

#book_button {
	border-radius: 9px;
	height: 50px;
	width: 225px;
	background-color: #d83c3c;
	color: white;
	font-size: 25px;
	text-align: center;
	border: 1px solid #d83c3c;
	margin-top: 40px;
}

#bmkIcon {
	height: 80px;
	width: 80px;
}
#ab {
	height: 30px;
	width: 30px;
	margin-right: 10px;
}

#end {
	visibility: hidden;
	margin: 10px;
}


#ht_type div {
	display: inline-block;
	margin-bottom: 10px;
}

#hashtags div {
	margin-right: 1px;
	font-size: 12px;
}

.ups div {
	display: inline-block;
	color: black;
	text-align: center;

}

#dish_img {
	height: 200px;
	width: 200px;
	margin-top: 10px;
}

.downs div {
	display: inline-block;
	color: black;

}

#dishIMG {
	height: 100px;
	width: 100px;
}

.thumbs {
	width: 20px;
}
