body{
	margin-top: 70px;
}

#bmk_confirm {
	visibility: hidden;
	background-color: red;
	color: white;
}

.move {
	height: 50px;
	width: 50px;
	background-color: tomato;
	border: none;
	color: white;
	font-style: bold;
}

#book_btn {
	border-radius: 9px;
	height: 35px;
	width: 140px;
	background-color: #d83c3c;
	color: white;
	font-size: 23px;
	text-align: center;
	border: 1px solid #d83c3c;
}

#end {
	visibility: hidden;
	margin: 10px;
}

#faces {
	width: 100%;
}

#faces div {
	display: inline-block;
	margin-left: 0px;
}

#ht_type div {
	display: inline-block;
	margin-bottom: 10px;
}

#hashtags div {
	margin-right: 1px;
}

.ups div {
	display: inline-block;
	color: #fff;
}

#dish_img {
	height: 180px;
	width: 180px;
	margin-top: 10px;
}

.downs div {
	display: inline-block;
	color: #fff;

}

#dishIMG {
	height: 150px;
	width: 150px;
}

.thumbs {
	width: 20px;
}

#restaurantName {
	font-size: 25px;
	padding-left: 0px;
}

#dish_name {
	font-size: 15px;
}

#bottomNav {
	margin-bottom: 25px;
}

#ab {
	font-size: 27px;
}

.pull-right {
	margin-right: 15px;
}

.leftSide {
	margin-left: 5px;
}

.label {
	font-size: 15px;
}

.option {
	display: inline-block;
	margin-left: 40px;
	float: left;

}

#rbtn {
	height: 35px;
	width: 140px;
	font-size: 25px;
	border-radius: 9px;
	background-color: #d83c3c;
	color: white;
	font-size: 25px;
	text-align: center;
	border: 1px solid #d83c3c;
}

#container-fluid {
	height: 130vh;
}
