#ab {
	width: 40px;
	height: 40px;
	opacity: 0.5;
}

.emoji {
	display: inline-block;
}

p{
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px;
}

.emoji-radio {
	display: none;
}

#ab:hover {
	opacity: 1;
}

#submit {
	margin-top: 10px;
}

form {
	text-align: center;
}

#ui{
	border-radius: 3px;
	height: 30px;
}

#di{
	border-radius: 3px;
	height: 30px;
}

#submitBtn{
	margin-top: 20px;
	border-radius: 9px;
	height: 45px;
	width: 180px;
	background-color: #d83c3c;
	color: white;
	font-size: 30px;
	text-align: center;
	border: 1px solid #d83c3c;
}
